nav.nav 
	.container-fluid.container-lg 
		.nav__wrapper 
			.logo.nav__logo 
				a(href="/") 
					svg(width="143" height="26" viewBox="0 0 143 26" xmlns="http://www.w3.org/2000/svg")
						<g>
							<path d="M39.4487 21.4051C39.3445 21.3041 39.2403 21.1022 39.3966 20.9507L41.3248 18.7799C41.4291 18.6284 41.6375 18.6284 41.7417 18.7294C43.0967 19.7896 45.1291 20.9003 47.5264 20.9003C50.0799 20.9003 51.5391 19.6381 51.5391 17.9216C51.5391 16.4575 50.6011 15.4478 47.6827 15.0944L46.5362 14.943C42.4192 14.4381 40.1262 12.5197 40.1262 9.08666C40.1262 5.35074 42.9404 2.87695 47.3179 2.87695C49.9757 2.87695 52.4772 3.68472 54.1969 4.94686C54.3533 5.04783 54.4054 5.19928 54.249 5.35074L52.7377 7.5721C52.6335 7.72356 52.4772 7.77404 52.3208 7.67307C50.6011 6.56239 48.9855 6.05754 47.2137 6.05754C45.077 6.05754 43.8784 7.2187 43.8784 8.83423C43.8784 10.2478 44.9207 11.2071 47.7869 11.6109L48.9334 11.7624C52.9983 12.3177 55.2913 14.1857 55.2913 17.7197C55.2913 21.4051 52.5814 24.0808 47.3179 24.0808C44.139 24.1313 41.1164 22.9197 39.4487 21.4051Z"/>
							<path d="M69.7787 3.53338C69.8308 3.33144 69.9872 3.23047 70.1956 3.23047H73.0619C73.2703 3.23047 73.4267 3.33144 73.4788 3.53338L80.6705 23.5256C80.7226 23.7276 80.6705 23.8285 80.462 23.8285H77.3873C77.1789 23.8285 77.0225 23.7276 76.9704 23.5256L75.5633 19.5373H67.5899L66.1829 23.5256C66.1308 23.7276 65.9744 23.8285 65.766 23.8285H62.7434C62.5349 23.8285 62.4828 23.7276 62.5349 23.5256L69.7787 3.53338ZM74.4689 16.3062L71.6548 8.3295H71.5506L68.6843 16.3062H74.4689Z"/>
							<path d="M89.1655 3.53338C89.1655 3.33144 89.2697 3.23047 89.4782 3.23047H97.0868C100.735 3.23047 103.184 4.79552 104.174 7.77416C104.539 8.78387 104.695 9.94503 104.695 13.479C104.695 17.0635 104.487 18.1742 104.174 19.1839C103.184 22.1625 100.735 23.7276 97.0868 23.7276H89.4782C89.2697 23.7276 89.1655 23.6266 89.1655 23.4246V3.53338ZM93.0741 20.5975H96.253C98.5981 20.5975 100.057 19.8402 100.631 17.9722C100.839 17.4169 100.995 16.4577 100.995 13.479C100.995 10.5004 100.839 9.59163 100.631 8.98581C100.005 7.11785 98.546 6.36057 96.253 6.36057H93.0741C92.9698 6.36057 92.8656 6.41105 92.8656 6.56251V20.345C92.8656 20.547 92.9177 20.5975 93.0741 20.5975Z"/>
							<path d="M114.337 3.53338C114.337 3.33144 114.441 3.23047 114.65 3.23047H117.725C117.933 3.23047 118.037 3.33144 118.037 3.53338V23.5256C118.037 23.7276 117.933 23.8285 117.725 23.8285H114.65C114.441 23.8285 114.337 23.7276 114.337 23.5256V3.53338Z"/>
							<path d="M127.206 21.4051C127.102 21.3041 126.998 21.1022 127.154 20.9507L129.082 18.7799C129.186 18.6284 129.395 18.6284 129.499 18.7294C130.854 19.7896 132.886 20.9003 135.284 20.9003C137.837 20.9003 139.296 19.6381 139.296 17.9216C139.296 16.4575 138.358 15.4478 135.44 15.0944L134.294 14.943C130.177 14.3876 127.884 12.4692 127.884 9.08666C127.884 5.35074 130.698 2.87695 135.075 2.87695C137.733 2.87695 140.234 3.68472 141.954 4.94686C142.111 5.04783 142.163 5.19928 142.006 5.35074L140.495 7.5721C140.391 7.72356 140.234 7.77404 140.078 7.67307C138.358 6.56239 136.743 6.05754 134.971 6.05754C132.834 6.05754 131.636 7.2187 131.636 8.83423C131.636 10.2478 132.678 11.2071 135.544 11.6109L136.691 11.7624C140.808 12.3177 143.049 14.1857 143.049 17.7197C143.049 21.4051 140.339 24.0808 135.075 24.0808C131.896 24.1313 128.822 22.9197 127.206 21.4051Z"/>
							<path d="M20.6891 26H6.14942C2.76203 26 0 23.3243 0 20.0427V5.95728C0 2.67573 2.76203 0 6.14942 0H20.6891C24.0765 0 26.8386 2.67573 26.8386 5.95728V20.0427C26.8386 23.3243 24.0765 26 20.6891 26ZM6.14942 1.06019C3.33528 1.06019 1.04227 3.28155 1.04227 6.00777V20.0932C1.04227 22.8194 3.33528 25.0408 6.14942 25.0408H20.6891C23.5033 25.0408 25.7963 22.8194 25.7963 20.0932V5.95728C25.7963 3.23107 23.5033 1.00971 20.6891 1.00971H6.14942V1.06019Z"/>
							<path opacity="0.4" d="M13.4453 6.20898L8.33813 8.98568L9.74521 9.79345L13.3932 7.77403L19.5426 11.1566L23.5032 8.98568L21.0018 10.3488L13.4453 6.20898Z"/>
							<path opacity="0.4" d="M12.9228 19.8908C13.1833 20.0422 13.496 20.0422 13.7045 19.8908L18.4468 17.316L17.2482 16.6597L13.3918 18.7801L6.98181 15.2461L3.28174 17.2655L5.67897 15.9529L12.9228 19.8908Z"/>
							<path opacity="0.4" d="M7.24251 11.1074L3.33398 13.2278L7.03406 15.2977L10.9426 13.1773L7.24251 11.1074Z" />
							<path opacity="0.4" d="M19.5419 11.1582L15.946 13.1271L19.8025 15.298L23.5025 13.2786L19.5419 11.1582Z" />
							<path opacity="0.55" d="M9.74634 9.79481L15.9479 13.1268L19.5437 11.1579L13.3943 7.77539L9.74634 9.79481Z"/>
							<path opacity="0.55" d="M17.249 16.7098L10.9432 13.1758L7.03467 15.2962L13.4447 18.8302L17.249 16.7098Z"/>
							<path d="M22.3034 16.61L19.8019 15.2973L15.9455 13.1265L9.79608 9.74395L8.3369 8.98666L13.444 6.20997L21.0005 10.3498L23.502 8.98666L14.2257 3.93812C13.7046 3.63521 13.0792 3.63521 12.5581 3.93812L4.58471 8.27987C4.27203 8.48181 4.1678 8.73424 4.1678 9.03715C4.1678 9.28958 4.32414 9.49152 4.5326 9.64298L7.24251 11.1575L10.8905 13.177L17.2483 16.7109L18.447 17.3672L13.7046 19.942C13.444 20.0935 13.1314 20.0935 12.9229 19.942L5.73121 16.0041L3.33398 17.3168L12.506 22.3653C13.0792 22.6682 13.7567 22.6682 14.33 22.3653L22.3034 17.9731C22.8245 17.6702 22.8245 16.9129 22.3034 16.61Z" />
						</g>

			.nav__menu 
				ul 
					li: a(href="#") Firm
					li: a(href="#") People
					li: a(href="#") Capabilities
					li: a(href="#") Insights
					li: a(href="#") NEWS
					li: a(href="#") Join Us

			.nav__interactive 
				a.btn.btn-line.nav__contact-btn(href="#") Contact 

				.nav__search
					button.btn.btn-search.nav__btn-search#search-btn Search
						svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
							<circle cx="11" cy="12" r="9.5"/>
							<path d="M18 18.5L22 22.5"/>

					.nav__search-content#search-content 
						form
							input#navSearch(type="text", name="search", placeholder="Search") 
							button(type="submit").btn.btn-blue Search
						button.btn.btn-close.nav__search-close Close search 
							svg(width="19" height="18" viewBox="0 0 19 18" xmlns="http://www.w3.org/2000/svg")
								<rect x="17.6318" y="0.161133" width="1" height="24" transform="rotate(45 17.6318 0.161133)"/>
								<rect x="18.3389" y="17.1318" width="1" height="24" transform="rotate(135 18.3389 17.1318)"/>

				button.btn.btn-burger 
					| Menu 
					span 
					span 
					span 

