doctype html
html(lang="en")
    
    block head
        include ../includes/head.pug

    body 
      block nav
        include ../includes/nav.pug

      block header

      main 
        block content

      block footer
        include ../includes/foot.pug

      block scripts 
        script(src="js/script.js") 