@import 'variables';

.feedback {
  &-section {
    padding-top: 40px;
    padding-bottom: 0;
    width: calc(100% + #{$mainOffset});

    @media screen and (max-width: 1600px) {
      width: calc(100% + #{$mainOffset1600});
    }

    @media screen and (max-width: 1400px) {
      width: 100%;
    }

    .splide__arrow {
      width: 51px;
      height: 51px;
      font-size: 0;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      top: calc(50% - 15px);

      @media screen and (max-width: 576px) {
        position: static;
      }

      svg {
        fill: #fff;
        transition: fill 0.3s ease;
      }

      &:hover {
        svg {
          fill: #A2D3F8;
        }
      }

      &--prev {
        left: 25px;

        @media screen and (max-width: 1600px) {
          left: 15px;
        }
      }

      &--next {
        right: 25px;

        @media screen and (max-width: 1600px) {
          right: 15px;
        }
      }
    }

    .splide__arrows {
      @media screen and (max-width: 576px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        margin-top: -15px;
      }
    }
  }

  &-slider {
    background-color: $mainBlue;
    padding-left: $mainOffset;
    padding-right: $mainOffset;
    background:url('../img/feedback__bg1.svg') bottom left no-repeat, url('../img/feedback__bg2.svg') bottom right no-repeat, $mainBlue;

    @media screen and (max-width: 1600px) {
      padding-left: $mainOffset1600;
      padding-right: $mainOffset1600;
    }

    @media screen and (max-width: 1400px) {
      padding-left: 75px;
      padding-right: 75px;
    }

    padding-top: 75px;

    @media screen and (max-width: 1200px) {
      padding-top: 55px;
    }
    
    padding-bottom: 56px;

    @media screen and (max-width: 768px) {
      background:url('../img/feedback__bg1.svg') bottom left no-repeat, url('../img/feedback__bg2.svg') bottom right no-repeat / 135px, $mainBlue;
    }

    @media screen and (max-width: 576px) {
      padding-bottom: 72px;
      padding-left: 25px;
      padding-right: 25px;

      background:url('../img/feedback__bg1.svg') bottom left no-repeat, url('../img/feedback__bg2.svg') bottom right no-repeat / 105px, $mainBlue;
    }

    color: #FFFFFF;
    text-align: center;

    q {
      font-style: italic;
      font-weight: 700;
      font-size: 36px;
      line-height: 120%;

      @media screen and (max-width: 1600px) {
        font-size: 32px;
      }

      @media screen and (max-width: 1400px) {
        font-size: 28px;
      }

      @media screen and (max-width: 1400px) {
        font-size: 24px;
      }

      @media screen and (max-width: 992px) {
        font-size: 28px;
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__card {
    max-width: 815px;
    margin: 0 auto;
  }

  &__author-name {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__author {
    margin-top: 140px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1600px) {
      margin-top: 100px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 65px;
    }
  }

  &__author-status {
    font-weight: 500;
    font-size: 14px;
  }
}