@import 'variables';

.header-main {
  overflow: hidden;

  .header__title {
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 1;
    height: 100%;

    h1 {
      margin-bottom: 0;

      @media screen and (max-width: 992px) {
        font-size: 64px;
        color: #FFFFFF;
        max-width: 302px;
        margin-bottom: 136px;
      }

      @media screen and (max-width: 576px) {
        font-size: 59px;
      }
    }

    &-paint {
      color: #FFFFFF;
    }

    .container {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;

      @media screen and (max-width: 992px) {
        align-items: flex-end;
      }
  
      &::before {
        content: '';
        background: linear-gradient(0deg, rgba(18, 19, 23, 0) 0%, rgba(18, 19, 23, 0.34) 53.44%, rgba(18, 19, 23, 0) 100%);
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 12px;

        @media screen and (max-width: 992px) {
          display: none;
        }
      }
    }
  }

  .header__discover {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    .container {
      width: 100%;
    }

    a.btn {
      margin-left: $headerOffset;

      @media screen and (max-width: 1200px) {
        margin-left: $headerOffset1200;
      }

      @media screen and (max-width: 992px) {
        margin-left: 0;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      @media screen and (max-width: 425px) {
        width: 100%;
        justify-content: space-between
      }
    }
  }

  .header__content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 400px;
    height: calc(100vh - 80px);
    overflow: hidden;

    @media screen and (max-width: 768px) {
      min-height: 350px;
    }

    @media screen and (max-width: 576px) {
      height: calc(100vh - 75px);
    }
  }

  .header__media {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: -1;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;

    .container {
      width: 100%;
      position: relative;

      @media screen and (max-width: 992px) {
        position: static;
      }
    }

    video {
      margin-left: $headerOffset;
      position: absolute;
      flex-shrink: 0;
      flex-grow: 1;
      top: 0;
      right: 0;
      left: 12px;
      object-fit: cover;
      object-position: center center;
      width: 100%;

      min-height: 400px;
      height: calc(100vh - 80px);

      @media screen and (max-width: 1200px) {
        margin-left: $headerOffset1200;
      }

      @media screen and (max-width: 992px) {
        margin-left: 0;
        left: 0;
      }

      @media screen and (max-width: 768px) {
        min-height: 350px;
      }

      @media screen and (max-width: 576px) {
        height: calc(100vh - 75px);
      }
    }
  }
}