$mainBlack: #343A44;
$mainBlue: #5FAEEA;
$mainBlueHover: #4F94C9;

//background of black area
$bgBlack: #121317;

$linkOnBlack: #535354;
$headersBlack: #1F3342;
$headersBlackHover: #576671;

//header image offset and black aside size
$headerOffset: 255px;

//section padding top and bottom
$sectionOffset: 100px;

//section padding left
$mainOffset: 100px;
$mainOffset1600: 70px;