@import 'bootstrap-grid-reboot.min', 'splide-core.min', 'variables';

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-size: 20px;
    color: $mainBlack;
    font-family: 'Barlow', sans-serif;

    &.fixed {
        overflow: hidden;
    }
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    color: $mainBlack;
    font-weight: 700;
}

h1 {
    font-size: 59px;

    @media screen and (max-width: 1200px) {
        font-size: 56px;
    }
}

h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

@import 'btn', 'nav', 'header-main', 'main-wrapper';

.content-list {
    width: $headerOffset;
    padding-right: 15px;

    @media screen and (max-width: 1200px) {
        width: $headerOffset1200;
    }

    position: sticky;
    top: 0px;
    padding-top: $sectionOffset;
    padding-bottom: calc(#{$sectionOffset + 50px});

    @media screen and (max-width: 1600px) {
        padding-top: $sectionOffset1600;
        padding-bottom: calc(#{$sectionOffset1600 + 50px});
    }
  
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0; 
      margin: 0;
      line-height: 80%;
      row-gap: 13px;
  
        a {
            font-weight: 700;
            position: relative;
            z-index: 1;
            font-size: 16px;
            color: $linkOnBlack;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: #fff;
            }
        }

        li {
            &.current {
                a {
                    color: $mainBlue;
    
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 35px;
                        height: 2px;
                        margin-right: 10px;
                        margin-bottom: 4px;
                        background-color: $mainBlue
                    }
                }
            }
        }
    }
}

.default-section {
    padding-bottom: calc(#{$sectionOffset} - 5px);
    padding-top: $sectionOffset;

    @media screen and (max-width: 1600px) {
        padding-bottom: calc(#{$sectionOffset1600} - 5px);
        padding-top: $sectionOffset1600;
    }

    p {
        line-height: 120%;
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: none;
        font-weight: 600;
        color: $mainBlue;
    }

    h2 {
        span {
            background-color: $mainBlue; 
        }
    }

    &.placeholder-section {
        height: calc(#{$sectionOffset} + 50px);

        @media screen and (max-width: 1600px) {
            height: calc(#{$sectionOffset1600} + 50px);
        }

        padding: 0;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }
}

.bg-noise {
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        width: 300%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url('../img/bg-texture.png');
        background-repeat: repeat;

        @media screen and (max-width: 992px) {
            left: -100%;
            right: -100%;
        }
    }

    h2 {
        color: $bgBlack;
    }
}

.main__images-box {
    position: relative; 
    left: -$mainOffset;
    margin-bottom: 50px;
    margin-top: -$sectionOffset;

    @media screen and (max-width: 1600px) {
        margin-top: -$sectionOffset1600;
        left: -$mainOffset1600;
    }

    @media screen and (max-width: 1200px) {
        left: -$mainOffset1200;
    }

    @media screen and (max-width: 992px) {
        left: 0;
        position: static;
        display: flex;
        align-items: flex-end;
    }
}

.main__image {
    &-big {
        width: calc(100% + #{$mainOffset});
        position: relative;

        .overlay__box {
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            grid-template-areas: 
            ". . . item2"
            "item1 . . ."; 

            @media screen and (max-width: 576px) {
                grid-template-columns: 1fr 1fr 1fr; 
                grid-template-rows: 1fr 1fr; 
                grid-template-areas: 
                ". . item2"
                "item1 . ."; 
            }
        }

        .overlay-item {
            &:first-child {
                grid-area: item1; 
                @include overlay-item(none, top, right);
            }

            &:last-child {
                grid-area: item2; 
                @include overlay-item(none, left, bottom);
            }
        }

        @media screen and (max-width: 1600px) {
            width: calc(77% + #{$mainOffset1600});
        }

        @media screen and (max-width: 1200px) {
            width: calc(77% + #{$mainOffset1200});
        }

        @media screen and (max-width: 992px) {
            width: auto;
            left: 0;
            margin-left: calc(-55px - 12px);
        }

        @media screen and (max-width: 576px) {
            margin-left: -20px;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;

            @media screen and (max-width: 992px) {
                object-fit: cover;
                width: 79vw;
                height: 45vw;
            }

            @media screen and (max-width: 768px) {
                width: 100vw;
                height: auto;
            }

            @media screen and (max-width: 576px) {
                height: 300px;
            }
        }
    }
    
    &-small {
        height: 224px;
        position: absolute;
        right: calc(-360px - 15px - #{$mainOffset});
        bottom: 0;

        @media screen and (max-width: 1600px) {
            right: calc(-135px - 15px - #{$mainOffset1600});
        }

        @media screen and (max-width: 1400px) {
            right: calc(-175px - 15px - #{$mainOffset1600});
        }

        @media screen and (max-width: 1200px) {
            right: calc(-210px - 15px - #{$mainOffset1200});
        }

        @media screen and (max-width: 992px) {
            position: relative;
            right: unset;
            bottom: unset;
            margin-left: 15px;
            height: auto;
            margin-right: calc(-55px - 12px);
        }

        @media screen and (max-width: 768px) {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;

            @media screen and (max-width: 992px) {
                object-fit: cover;
                width: 20vw;
                height: 23vw;
            }
        }

        .overlay__wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .overlay__box {
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            grid-template-areas: 
            ". . item2"
            "item1 . ."; 

            @media screen and (max-width: 992px) {
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: 1fr 1fr; 
                grid-template-areas: 
                ". item2"
                ". item1"; 
            }
        }

        .overlay-item {
            &:first-child {
                grid-area: item1; 
                @include overlay-item(none, top, right);
            }

            &:last-child {
                grid-area: item2; 
                @include overlay-item(none, left, bottom);

                @media screen and (max-width: 992px) {
                    display: none;
                }
            }
        }
    }
}

.contact-form__wrapper {
    padding-top: 37px;

    .form-group {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            gap: 18px 24px;
        }

        @media screen and (max-width: 576px) {
            flex-direction: column;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        & > * {
            flex-grow: 1;
            width: 25%;

            @media screen and (max-width: 768px) {
                width: 45%;

                &.btn {
                    order: 4;
                    flex-grow: 0;
                    width: 225px;
                    margin: 0 auto;
                    margin-top: 6px;
                }
            }

            @media screen and (max-width: 576px) {
                width: 100%;
            }
        }

        .btn {
            height: 54px;
            font-size: 18px;

            @media screen and (max-width: 1200px) {
                font-size: 17px;
                padding: 0 20px;

                svg {
                    margin-left: 10px;
                }
            }

            @media screen and (max-width: 768px) {
                font-size: 18px;
            }

            @media screen and (max-width: 576px) {
                width: 100%;
            }
        }

        textarea {
            width: 100%;
        }
    }

    .form-input {
        height: 54px;
        background: #F2F5FA;
        border: 1px solid #D5DDE6;
        font-size: 16px;
        padding: 17px 15px;
        color: #53596D;
        outline: none;

        &::placeholder {
            color: #82889C;
        }

        &:focus, &:active {
            background: #FBFCFF;
            border: 1px solid $mainBlue;
            color: #53596D;
            caret-color: $mainBlue;
        }
    }

    textarea.form-input {
        height: auto;
    }
}

.main-accordion {
    margin-top: 90px;

    @media screen and (max-width: 768px) {
        margin-top: 70px;
    }

    @media screen and (max-width: 576px) {
        margin-top: 63px;
    }
}

@import 'media-overlay', 'accordion', 'feedback', 'blog-section', 'footer';



